<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--
      The documents root to display.
      If not specified, defaults to the current directory (ie, where the exe was launched from)
    -->
    <add key="DocumentsDir" value=""/>
    
    <!-- 
      Whether online search should be allowed (true/false)
    -->
    <add key="AllowOnlineSearch" value="true"/>
    
    <!--
      Whether the file extension should be shown (true/false)
    -->
    <add key="ShowExtension" value="false"/>
    
    <!-- 
      Filetypes allowed to be opened for preview.
      IMPORTANT: Do not include any executable types, as the preview files come from the internet and may contain malicious code .
      Types must begin with a '.' and must be lowercase.
      Types can be separated with ';'
      This does not affect the main tree view.
    -->
    <add key="AllowedPreviewTypes" value=".pdf;.doc;.docx;.txt;.md"/>
    
    <!--
      If set, only include files matching these filters.
      Filters can be separated with ';'
      Filter syntax is defined here: https://github.com/dazinator/DotNet.Glob
      This does not apply to directory names (ie, all directories are included even if this is set).
      
      Example: Include only documents & web links:
      "*.pdf;*.doc;*.docx;*.txt;*.md;*.url;*.lnk"
    -->
    <add key="IncludeFilter" value="*"/>
    
    <!--
      If set, exclude files/directories matching these filters.
      Filters can be separated with ';'
      
      Example: Exclude binaries and the 'Debug' directory:
      "*.exe;*.dll;*.exe.config;**/Debug"
    -->
    <add key="ExcludeFilter" value="*.exe;*.dll;*.pdb;*.exe.config"/>
    
    <!--
      Third-party search providers to use for datasheet lookup.
      This requires AllowOnlineSearch=true
    -->
    <add key="SearchProviders" value="OctopartAPI,AllDatasheet,DatasheetCatalog"/>
    
    <!--
      If you want to enable the Octopart search provider, you need an API key
    -->
    <!--<add key="OctopartApiKey" value="12345678"/>-->
   
  </appSettings>
</configuration>